$primary-color: green;
$fonts-size: 100%;
$height: 400px;

#contact-page {
  margin-top: 100px;

  .bg-img-contact {
    background: url("https://i.pinimg.com/564x/72/9e/7c/729e7cb0f8b5f0d25562d4663ff3545a.jpg")
      no-repeat;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
    color: white;
    height: $height;
    line-height: $height;
    text-align: center;
    width: 100%;
  }

  .bg-info-contact {
    height: 600px;
    text-align: center;
    padding: 150px 0;
    font-size: large;
  }

  .bg-contact {
    background-color: #6d8ca12e;
    padding-top: 30px;
    height: 550px;

    .css-14a3zbu-MuiGrid-root {
      margin: 0 auto;
    }
  }

  .bg-map-contact {
    background: url("https://getpublii.com/docs/media/posts/44/google-map.png")
      no-repeat;
    background-size: cover;
    height: 400px;
    image-rendering: pixelated;
  }
}
